@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Create. Share. Sell.</h1>
    <p>The ultimate marketplace for game developers to exchange high-end resources. Upload your work and start earning today</a>.</p>
</div>


